

mixin hero-section(links, name, bottomText, titleClass, backLink, subtitle )
	section.hero&attributes(attributes)
		.container
			.hero-content
				ul.breadcrumb
					each item in links
						li
							a(href="#!") #{item}
				.hero-title
					h1(class=(titleClass != ''? ''+ titleClass : '')) !{name}
					if subtitle
						p.header-subtitle !{subtitle}
				//===== bottom text =====
				.hero-bottom
					if bottomText != ''
						p #{bottomText}
					if (backLink != '' && backLink == 'back-link')
						a(href="#!").back-link
							svg.svg-chevron
								use(href="./img/spriteSvg.svg#svg-chevron")
							span Назад


mixin hero-section-ui(links, name, bottomText, titleClass, backLink, subtitle )
	section.hero&attributes(attributes)
		.container
			.hero-content
				ul.breadcrumb
					each item in links
						li
							a(href="#!") #{item}
				.hero-title
					h1(class=(titleClass != ''? ''+ titleClass : '')) !{name}
					if subtitle
						p.header-subtitle !{subtitle}
				//===== bottom text =====
				.hero-bottom
					if bottomText != ''
						p #{bottomText}
					if (backLink != '' && backLink == 'back-link')
						a(href="#!").back-link
							svg.svg-chevron
								use(href="../img/spriteSvg.svg#svg-chevron")
							span Назад