//- mixin hero-section(bgImg, links, name, backLink)
//- 	section.hero(style="background-image: url('./img/"+ bgImg +"')")
//- 		.container
//- 			.hero-content
//- 				ul.breadcrumb
//- 					each item in links
//- 						li
//- 							a(href="#!") #{item}
//- 				.hero-title
//- 					h1.title !{name}
				
//- 				if backLink == 'back-link'
//- 					.hero-bottom
//- 						a(href="#!").back-link
//- 							svg.svg-chevron
//- 								use(href="./img/spriteSvg.svg#svg-chevron")
//- 							span Назад

mixin hero-section(links, name, bottomText, titleClass, backLink )
	section.hero&attributes(attributes)
		.container
			.hero-content
				ul.breadcrumb
					each item in links
						li
							a(href="#!") #{item}
				.hero-title
					h1.h2(class=(titleClass != ''? ''+ titleClass : '')) !{name}
				//===== bottom text =====
				.hero-bottom
					if bottomText != ''
						p #{bottomText}
					if (backLink != '' && backLink == 'back-link')
						a(href="#!").back-link
							svg.svg-chevron
								use(href="./img/spriteSvg.svg#svg-chevron")
							span Назад