mixin person(img, name, persLink, range, exper, tags, date, loc, txt, txtLink, revSlider)
	.person&attributes(attributes)
		//====== top row =====
		.person__info
			.person__photo
				img.wh-100.lazy(src="./img/"+ img +".webp", width="295"  alt="img")
			.person__details
				.flex-center-y
					.person__name #{name}
					if date
						.person__date 02.02.2024
				if range
					.person__range
						p #{range}
						if exper
							p #{exper}
				if tags
					.tags-list
						each tag in tags
							a(href="#!") #{tag}
				.person__links
					a(href="#!").accent-link #{persLink}
					if loc
						a(href="#!").pin-item #{loc}
		if txt
			//====== text row =====
			.person__txt
				p !{txt}
				if txtLink != ''
					a(href="#!").accent-link.und-line #{txtLink}
		if revSlider
			//======= for mobile =====
			.person__meta
				.person__date 02.02.2024
				a(href="#!").pin-item #{loc}

mixin person-ui(img, name, persLink, range, exper, tags, date, loc, txt, txtLink, revSlider)
	.person&attributes(attributes)
		//====== top row =====
		.person__info
			.person__photo
				img.wh-100.lazy(src="../img/"+ img +".webp", width="295"  alt="img")
			.person__details
				.flex-center-y
					.person__name #{name}
					if date
						.person__date 02.02.2024
				if range
					.person__range
						p #{range}
						if exper
							p #{exper}
				if tags
					.tags-list
						each tag in tags
							a(href="#!") #{tag}
				.person__links
					a(href="#!").accent-link #{persLink}
					if loc
						a(href="#!").pin-item #{loc}
		if txt
			//====== text row =====
			.person__txt
				p !{txt}
				if txtLink != ''
					a(href="#!").accent-link.und-line #{txtLink}
		if revSlider
			//======= for mobile =====
			.person__meta
				.person__date 02.02.2024
				a(href="#!").pin-item #{loc}

mixin person-review(img, name, persLink, range, exper, tags, date, loc, txt, txtLink, revSlider)
	.person&attributes(attributes)
		//====== top row =====
		.person__info
			.person__photo
				img.wh-100.lazy(src="./img/"+ img +".webp", width="295"  alt="img")
			.person__details
				.flex-center-y
					.person__name #{name}
					if date
						.person__date 02.02.2024
				if range
					.person__range
						p #{range}
						if exper
							p #{exper}
				.person__links
					if loc
						a(href="#!").pin-item #{loc}
					a(href="#!").accent-link #{persLink}
				if tags
					//====== теги для десктоп версии ======
					.tags-list
						each tag in tags
							a(href="#!") #{tag}
		if txt
			//====== text row =====
			.person__txt
				if tags
					//====== теги для моб версии ======
					.tags-list
						each tag in tags
							a(href="#!") #{tag}
				p !{txt}
				
				.person__meta
					if txtLink != ''
						a(href="#!").accent-link.und-line #{txtLink}
					
					.person__date 02.02.2024